<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is django tutorial</title>
</head>

 <footer class="py-3">
    <p class="text-center">
        Copyright 2022 ! All rights reserved
    </p>
</footer> 

<body>
    this is the first best ever video on django which tell about the home page
    <h1>This is a video from {{name}}</h1>
    <p>He will be teaching you {{course}}</p>
    <footer>
        <p class="text-center">
        Copyright 2022 ! All rights reserved
        </p>
    </footer>

</body>

</html>